h1{
    color: brown;
    text-align: center;
};

.row{
	margin: 20px;
}

.box{
	margin: 30px;
	width: auto;
	height: auto;
	color: black;
	background-color: lightgrey;
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 20px;
}

.item{
	text-align: center;
	font-size: 22px;
	font-weight: 900;
}

.navbar{
    
    border:1px solid #000;
        
    padding:0px;
	background-color: lightgray;
}

.navbar .navbar-nav {  
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
   
  }

  ul{
	
   
    background-color: white;
}



